<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom mb-10">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass-drafting" style="color: #ee0303e3;"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/listings">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listings">allListings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listings/new">AddNewListing</a>
          </li>
          <li class="nav-item signup">
            <a href="http://localhost:3000/signup" class="nav-link">signup user</a>
          </li>
          <li class="nav-item login">
            <a href="http://localhost:3000/login" class="nav-link">login user</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>