<% if(success && success.length > 0) { %>
<div class="flash-message alert alert-success mb-2 alert-dismissible fade show" role="alert">
    <strong><%= success %></strong>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="width: 2rem !important; height: 2rem; margin-left: 2rem;">&times;</span>
    </button>
</div>
<br>
<% } %>
<style>
    .flash-message {
        background-color: #dff0d8;
        color: #3c763d;
        padding: 15px;
        border: 1px solid #d6e9c6;
        border-radius: 4px;
        display: inline-flex;
        position: relative;
        left: 35%;
        /* margin-left: 20px; */
        margin: 20px 0;
        text-align: center;
    }
</style></div>